<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>All orders</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Celessentials inventory management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/}">Products</a>
                <a class="nav-link" th:href="@{/orders}">Orders</a>
                <a class="nav-link" th:href="@{/reports}">Reports</a>
            </div>

            <div class="navbar-nav ms-auto">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </div>

        </div>
    </div>
</nav>


<div class="container">
    <div class="row">
        <h1>All orders</h1>
        <div>
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th>Total paid</th>
                    <th>Status</th>
                    <th>Date ordered</th>
                    <th>Date of order status update</th>
                    <th>Update Status of orders</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each = "orders: ${orders}">
                    <td th:text = "${orders.id}"></td>
                    <td th:text = "${orders.name}"></td>
                    <td th:text = "${orders.subtotal}"></td>
                    <td th:text = "${orders.status}"></td>
                    <td th:text = "${orders.createdAt}"></td>
                    <td th:text = "${orders.updatedAt}"></td>
                    <td><a th:href="@{/orders/update/status/{id}(id=${orders.id})}" class="btn btn-primary">Update Status</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
