<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Celessentials inventory management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/}">Products</a>
                <a class="nav-link" th:href="@{/orders}">Orders</a>
                <a class="nav-link" th:href="@{/reports}">Reports</a>
            </div>

            <div class="navbar-nav ms-auto">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </div>

        </div>
    </div>
</nav>

<div th:if = "${session.messages != null}">
    <div th:each = "message : ${session.messages}">
        <div th:if = "${message.contains('out of stock')}" class="alert alert-danger">
            [[${message}]]
        </div>
        <div th:if = "${message.contains('low stock')}" class="alert alert-warning">
            [[${message}]]
        </div>
        <div th:unless = "${message.contains('out of stock') or message.contains('low stock')}" class="alert alert-success">
            [[${message}]]
        </div>
    </div>
</div>

<div th:if="${updated}" class="alert alert-success">
    <p th:text="${updated}"></p>
</div>

<div th:if="${deleted}" class="alert alert-success">
    <p th:text="${deleted}"></p>
</div>

<div th:if="${add}" class="alert alert-success">
    <p th:text="${add}"></p>
</div>

    <div class="container">
        <div class="row">
            <h1>List of all products</h1>

            <div>
                <a th:href="@{/add}">Add new product</a>
            </div>

            <div>
                <form th:action = "@{/filter}" method="get">
                    <label for="filter">Filter by stock levels:</label>
                    <select id="filter" name="filter">
                        <option value="In Stock">In Stock</option>
                        <option value="Low Stock">Low Stock</option>
                        <option value="Out of Stock">Out of Stock</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Filter</button>
                    <a th:href = "@{/clear-filter}" class="btn btn-secondary">Clear Filter</a>
                </form>
            </div>

            <br><br>


            <div>
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th>Stock</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each = "product: ${products}">
                            <td><img th:src="@{${product.imageLocation}}" width="225" height="250"></td>
                            <td th:text = "${product.productName}"></td>
                            <td th:text = "${product.productDescription}"></td>
                            <td th:text = "${product.productPrice}"></td>
                            <td th:text = "${product.productCategory}"></td>
                            <td>
                                <strong><span th:if = "${product.productStock} == 0" class="text-danger">Out of stock</span></strong>
                                <strong><span th:if = "${product.productStock} > 0 and ${product.productStock} <= 5 " class="text-warning">Low stock</span></strong>
                                <strong><span th:if = "${product.productStock} > 5" class="text-success">In stock</span></strong>
                            </td>
                            <td><a th:href = "@{/update/{id}(id=${product.id})}" class="btn btn-primary">Update</a></td>
                            <td><a th:href = "@{/{id}(id=${product.id})}" class="btn btn-danger">Delete</a></td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</body>
</html>
