<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Celessentials inventory management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/}">Products</a>
                <a class="nav-link" th:href="@{/orders}">Orders</a>
                <a class="nav-link" th:href="@{/reports}">Reports</a>
            </div>

            <div class="navbar-nav ms-auto">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </div>

        </div>
    </div>
</nav>

<div>
    <h1>Reports are available here for stocks and orders</h1>
</div>


<div>
    <div>
        <h4>Report for stock levels of products:</h4>
        <a th:href="@{/stock/report}">Generate report for stocks</a>

        <h4>Reports for orders:</h4>
        <a th:href="@{/order/report}">Generate report for orders</a>

        <h4>Reports for today's sale:</h4>
        <a th:href="@{/daily/report}">Generate report for today's sales</a>

        <h4>Reports for the sales of the past week:</h4>
        <a th:href="@{/weekly/report}">Generate report for past weeks sales</a>
    </div>
</div>


</body>
</html>

